<footer class="bg-gray-800 text-white py-6">
    <div class="container mx-auto px-4">
        <div class="flex flex-col items-center">
            <p class="mb-4 text-lg font-semibold">Normateca Digital</p>
            <p class="mb-2">Razón Social: Universidad Tecnológica del Norte de Guanajuato</p>
            <p class="mb-2">Correo Electrónico: <a href="mailto:vansestilo200@gmail.com" class="hover:text-gray-400">vansestilo200@gmail.com</a> <a href="mailto:jassielNoe@gmail.com" class="hover:text-gray-400">jassielNoe@gmail.com</a></p>

            <p class="mt-4 text-sm">© 2024 Cristian Ismael Prado Salazar & Jassiel Noe Manuel Martínez Todos los derechos reservados.</p>
            <p class="mt-2"><a href="#aviso-privacidad" class="hover:text-gray-400">Aviso de Privacidad</a></p>
        </div>
    </div>
</footer>
