<header class="bg-gray-800 text-white py-4 fixed top-0 left-0 w-full z-50">
    <div class="container mx-auto flex justify-between items-center px-4">
        <div class="flex items-center space-x-2">
            <!-- Ícono -->
            <img src="Archivos/img/seguridad-informatica.png" alt="Ícono de Normateca Digital" class="w-8 h-8">
            <!-- Texto del logo -->
            <div class="text-xl font-bold">
                <a href="index.html" data-page="inicio" >Normateca Digital</a>
            </div>
        </div>
        <nav>
            <ul class="flex space-x-6">
                <li>
                    <a href="#" data-page="inicio" class="nav-link">Inicio</a>
                </li>
                <li>
                    <a href="#" data-page="normativas" class="nav-link">Normativas</a>
                </li>
                <li>
                    <a href="#" data-page="estandares" class="nav-link">Estándares</a>
                </li>
                <li>
                    <a href="#" data-page="aviso-privacidad" class="nav-link">Aviso de Privacidad</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
