
<!-- Sección de bienvenida -->
<section class="relative bg-cover bg-center bg-no-repeat text-white py-20" style="background-image: url('Archivos/img/home.jpg');">
    <!-- Superposición opaca o borrosa -->
    <div class="absolute inset-0 bg-black bg-opacity-50 z-0"></div>
    <div class="absolute inset-0 bg-blur-filter z-0"></div>

    <div class="relative container mx-auto text-center p-6 rounded-lg z-10">
        <h1 class="text-4xl font-bold mb-4">Bienvenido a Normateca Digital</h1>
        <p class="text-lg mb-8">Tu recurso integral para normativas y estándares de calidad. Encuentra la información más actualizada y relevante para tu industria.</p>
        <a href="#" data-page="normativas" class="bg-yellow-500 text-gray-800 py-2 px-4 rounded hover:bg-yellow-400 transition nav-link">Explora Normativas</a>
    </div>
</section>

<!-- Sección de normativas y estándares -->
<section class="py-16">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-8">Normativas y Estándares</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold mb-4">Aspectos Éticos y Legales</h3>
                <p>Infórmate sobre los aspectos éticos y legales relacionados con el manejo de la información.</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold mb-4">Leyes y Códigos</h3>
                <ul>
                    <li><p class="text-black-500">Ley General de Protección de Datos Personales de México</p></li>
                    <li><p class="text-black-500">Ley de Propiedad Industrial</p></li>
                    <li><p class="text-black-500">Ley Federal de Derechos de Autor</p></li>
                    <li><p class="text-black-500">Código Penal Federal</p></li>
                </ul>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg">
                <h3 class="text-xl font-bold mb-4">Estándares de Manejo de Información</h3>
                <ul>
                    <li><p class="text-black-500">ISO 27001</p></li>
                    <li><p class="text-black-500">ISO 17799</p></li>
                    <li><p class="text-black-500">COBIT</p></li>
                    <li><p class="text-black-500">NIST</p></li>
                    <li><p class="text-black-500">ITIL</p></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<!-- Sección de testimonios -->
<section class="bg-gray-200 py-16">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-8">Algunas Frases Relacionadas . . .</h2>
        <div class="flex flex-wrap justify-center gap-8">
            <div class="bg-white p-6 rounded-lg shadow-lg w-full md:w-1/3">
                <p class="italic">"La privacidad no es algo que me importe porque no tengo nada que esconder. Es como decir que no me importa la libertad de expresión porque no tengo nada que decir."</p>
                <p class="font-bold mt-4">Edward Snowden</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg w-full md:w-1/3">
                <p class="italic">"En tiempos de engaño universal, decir la verdad se convierte en un acto revolucionario."</p>
                <p class="font-bold mt-4">George Orwell</p>
            </div>
            <div class="bg-white p-6 rounded-lg shadow-lg w-full md:w-1/3">
                <p class="italic">"El conocimiento es poder. La información es liberadora."</p>
                <p class="font-bold mt-4">Kofi Annan</p>
            </div>
        </div>
    </div>
</section>

<!-- Sección de llamada a la acción -->
<section class="bg-blue-800 text-white py-16">
    <div class="container mx-auto text-center">
        <h2 class="text-3xl font-bold mb-4">¡Únete a Nosotros Hoy Mismo!</h2>
        <p class="text-lg mb-8">Comienza a explorar nuestra plataforma y aprovecha todas las ventajas que ofrece. Tu éxito comienza aquí.</p>
        <a href="index.html" class="bg-yellow-500 text-gray-800 py-2 px-4 rounded hover:bg-yellow-400 transition">Comienza Ahora</a>
    </div>
</section>
