<main class="p-8">
    <div class="max-w-4xl mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Sección Principal</h2>
        <p class="mb-4">Este es un párrafo de ejemplo para mostrar cómo Tailwind CSS aplica estilos xD.</p>
        <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Botón de Ejemplo</button>
    </div>
    <div class="max-w-4xl mx-auto mt-4 bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">Sección Principal</h2>
        <p class="mb-4">Este es un párrafo de ejemplo para mostrar cómo Tailwind CSS aplica estilos xD.</p>
        <button class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-700">Botón de Ejemplo</button>
    </div>
</main>
